.email-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emailForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
}

#emailForm .contact-container {
    display: flex;
    flex-direction: row;
}

#emailForm .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1vw;
}

#emailForm .field-input {
    font-size: 12pt;  
    max-width: 40vw;
    width: 250px;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#emailForm .field-input:focus {
    outline: none;
    border: 2.5px solid var(--accent-color);
}

#emailForm ::selection {
    background: black;
    color: white;
}

#emailForm textarea {
    font-size: 12pt;  
    height: 10rem;
    padding: 10px;
    padding-right: 40vw;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#emailForm textarea:focus {
    outline: none;
    border: 2.5px solid var(--accent-color);
}

@media (max-width: 560px) {
    #emailForm .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #emailForm .form-field {
        align-items: flex-start;
    }

    #emailForm {
        align-items: center;
    }
}