#navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 4rem;

    display: flex;    
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#navbar-top #left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar-top #links-container {
    display: flex;
    align-items: center;
}

#navbar-top .name {
    font-size: 1.8em;
    margin-left: 1rem;
}

#navbar-top .resume-button {
    margin-left: 2rem;
    height: 220%;
    width: 220%;
}

.icon-link {
    font-size: 2rem;
    margin-left: 1.5rem;
    color: var(--text-color);
}

.fab.fa-github:hover {
    color: rgb(255, 255, 169);
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.4s ease;
}

.fab.fa-linkedin:hover {
    color: rgb(161, 242, 242);
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.4s ease;
}

.fas.fa-envelope:hover {
    color: rgb(248, 175, 255);
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.4s ease;
}

.fa.fa-globe:hover {
    color: rgb(180, 173, 255);
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.4s ease;
}

@media (max-width: 768px) {
    #navbar-top #left-section {
       display: none;
    }
    
    #navbar-top #links-container {
        display: flex;
        align-self: center;
    }
}