.email-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emailForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
}

#emailForm .email-input {
    font-size: 12pt;  
    font-family: Arial, Helvetica, sans-serif;
    min-width: 250px;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
#emailForm .email-input:focus {
    outline: none;
    border: 2.5px solid var(--accent-color);
}

#emailForm ::selection {
    background: black;
    color: white;
}

#emailForm textarea {
    font-size: 12pt;  
    font-family: Arial, Helvetica, sans-serif;
    height: 10rem;
    padding-right: 20rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
#emailForm textarea:focus {
    outline: none;
    border: 2.5px solid var(--accent-color);
}

#emailForm .submit-button {
    border-radius: 10px;
    border: 3px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 700;
    background-color: var(--accent-color);
    cursor: pointer;
    width: 30%;
}

#emailForm .submit-button:hover {
    filter: brightness(1.4);
    transition: color 0.12s ease, filter 0.12s ease;
}