#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  max-width: 80vw;
}

.error-message {
  white-space: pre-line;
  margin: 0.75rem;
  padding: 0.4em 1em;
  font-weight: 600;
  font-size: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.success-message {
  white-space: pre-line;
  margin: 0.75rem;
  padding: 0.4em 1em;
  font-weight: 600;
  font-size: 1rem;
  color: #155724;
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#exp-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-main {
  margin-bottom: 5rem;
}

#about {
  display: flex;
  justify-content: space-evenly;
}

#about .left-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  max-width: 60%;
}

#about .p-about {
  max-width: 1000px;
  margin-right: 1rem;
  font-weight: 500;
}

.profile-photo {
  width: 20vw;
  height: 20vw;
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-photo.small {
  width: 50px;
  height: 50px;
  border: 2px solid var(--accent-color);
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  max-width: 800px;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.5em;
}

#wave {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -9;
  fill: var(--secondary-bg);
}

#wave svg {
  position: absolute;
  top: 300px;
  display: block;
  width: 100%;
  height: 100vh;
  transform: scaleX(-1);
}

#wave path {
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary-bg);
  padding: 1rem;
  text-align: center;
}

@media (max-width: 986px) {

  #about {
    flex-direction: column-reverse;
    align-items: center;
  }

  #about .profile-photo {
    width: 35vw;
    height: 35vw;
  }

  #about .left-section {
    align-items: center;
    text-align: left;
    max-width: 80%;
  }
}