:root {
  font-family: 'Consolas', monospace;
  line-height: 1.2em;

  color-scheme: light dark;
  --bg-color: #2e2b29;
  --secondary-bg: #3b3734;
  --accent-color: #a67b5b;
  --text-color: #fff9f0;

  background: linear-gradient(
    to bottom,
    var(--secondary-bg) 0,
    var(--secondary-bg) 300px,
    var(--bg-color) 300px, 
    var(--bg-color) 99%,
    var(--secondary-bg) 99%,
    var(--secondary-bg) 100%
  );
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 6rem;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  padding: 0;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.7em;
  line-height: 1.2em;
}

p {
  font-size: 1.1em;
}

footer {
  color: var(--secondary-bg);
  height: 150px;
}

.button-main {
  padding: 0.6em 1.2em;
  border: none;
  color: inherit;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 100%;
  font-weight: 700;
  font-family: inherit;
  border-radius: 15px;
  cursor: pointer;
}

.button-main:hover {
  filter: brightness(1.2);
  transition: color 0.12s ease, filter 0.12s ease;
}

::selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.preload * {
  transition: color 1s ease, border 1s ease;
}